{{ if .Params.math }}
<link 
    rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/katex@{{ .Site.Params.katexVersion }}/dist/katex.min.css"
    integrity="sha256-nZMkCZIQ6Pc6G9IMfJIZliHOBx9VzzpEPefjxb5qTd8="
    crossorigin="anonymous"
>

<!-- The loading of KaTeX is deferred to speed up page rendering -->
<script 
    defer 
    src="https://cdn.jsdelivr.net/npm/katex@{{ .Site.Params.katexVersion }}/dist/katex.min.js"
    integrity="sha256-ja6kQRpKH+e4SPK9ZulQL+U4p3nA4TQqfZK3sO0GW2A="
    crossorigin="anonymous"
>
</script>

<!-- To automatically render math in text elements, include the auto-render extension: -->
<script 
    defer 
    src="https://cdn.jsdelivr.net/npm/katex@{{ .Site.Params.katexVersion }}/dist/contrib/auto-render.min.js"
    integrity="sha256-G53bYZLObbTLTA3j70xRGPKxKYlBbzvDZ789B6sSFkE="
    crossorigin="anonymous"
>
</script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
          // customised options
          // • auto-render specific keys, e.g.:
          delimiters: [
              {left: '$$', right: '$$', display: true},
              {left: '$', right: '$', display: false},
              {left: '\\(', right: '\\)', display: false},
              {left: '\\[', right: '\\]', display: true}
          ],
          // • rendering keys, e.g.:
          throwOnError : false
        });
    });
</script>
{{ end }}
