{{ partial "header.html" . }}

<section id=content>
  <ul class=posts_listing>
    {{ $pages := (where .Site.RegularPages "Section" "posts") }}
    {{ range (.Paginate $pages).Pages }}
      <li>
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <div id=date>
          <time>{{ .Date.Format (.Site.Params.dateform | default "January 2006") }}</time>
        </div>
      </li>
    {{ end }}

    {{ partial "pagination.html" . }}
  </ul>

</section>

{{ partial "footer.html" . }}
