* {
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    color: black;
    text-decoration-skip: ink;
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    font-display: swap;
    src: local('Open Sans'), url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
}

body {
    font-family: 'Open Sans', 'Myriad Pro', Myriad, sans-serif;
    font-size: 17px;
    line-height: 160%;
    color: #1d1313;
    max-width: 700px;
    margin: auto;
}

p {
    margin: 20px 0;
}

a img {
    border: none;
}

img {
    margin: 10px auto 10px auto;
    max-width: 100%;
    display: block;
}

.left-justify {
    float: left;
}

.right-justify {
    float: right;
}

pre,
code {
    font: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    background-color: #f7f7f7;
}

code {
    padding: 2px;
    font-size: 95%;
}

pre {
    margin-top: 0;
    margin-bottom: 16px;
    word-wrap: normal;
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
}

pre>code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
}

pre code {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
}

pre code::before,
pre code::after {
    content: normal;
}

em,
q,
em,
dfn {
    font-style: italic;
}

.sans,
html .gist .gist-file .gist-meta {
    font-family: "Open Sans", "Myriad Pro", Myriad, sans-serif;
}

.mono,
pre,
code,
tt,
p code,
li code {
    font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
}

.serif {
    font-family: "Old Standard TT", serif;
}

strong {
    font-weight: 600;
}

q:before {
    content: "\201C";
}

q:after {
    content: "\201D";
}

del,
s {
    text-decoration: line-through;
}

blockquote {
    font-family: "Old Standard TT", serif;
    text-align: center;
    padding: 50px;
}

blockquote p {
    display: inline-block;
    font-style: italic;
}

blockquote:before,
blockquote:after {
    font-family: "Old Standard TT", serif;
    content: '\201C';
    font-size: 35px;
    color: #403c3b;
}

blockquote:after {
    content: '\201D';
}

hr {
    width: 40%;
    height: 1px;
    background: #403c3b;
    margin: 25px auto;
}

h1 {
    font-size: 35px;
    line-height: 1.4em;
}

h2 {
    font-size: 28px;
    line-height: 1.4em;
}

h3 {
    font-size: 22px;
    margin-top: 18px;
    line-height: 1.4em;
}

h4 {
    font-size: 18px;
    margin-top: 16px;
    line-height: 1.4em;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    text-decoration: none;
}

h1,
h2 {
    margin-top: 28px;
}

#sub-header,
time {
    color: #403c3b;
    font-size: 13px;
}

#sub-header {
    margin: 0 4px;
}

#nav h1 a {
    font-size: 35px;
    color: #1d1313;
    line-height: 1.2em;
}

.posts_listing a,
#nav a {
    text-decoration: none;
}

li {
    margin-left: 20px;
}

#nav ul li:before,
.posts_listing li:before {
    content: '';
    margin-right: 0;
}

.posts_listing ul {
    list-style-type: none;
}

.posts_listing li {
    list-style-type: none;
}

#content {
    text-align: left;
    width: 100%;
    font-size: 15px;
    padding: 0px 0 10px;
}

#content h1,
#content h2 {
    margin-bottom: 5px;
}

#content h2 {
    font-size: 25px;
}

#content .entry-content {
    margin-top: 15px;
    margin-bottom: 15px;
}

#content time {
    margin-left: 3px;
}

#content h1 {
    font-size: 30px;
}

.highlight {
    margin: 10px 0;
}

.posts_listing {
    margin: 0 0 50px;
}

.posts_listing li {
    margin: 0 0 25px 15px;
}

.posts_listing li a:hover,
#nav a:hover {
    text-decoration: underline;
}

#nav {
    text-align: center;
    position: static;
    margin-top: 60px;
}

#nav ul {
    display: table;
    margin: 8px auto 0 auto;
}

#nav li {
    list-style-type: none;
    display: table-cell;
    font-size: 15px;
    padding: 0 20px;
}

#links {
    margin: 50px 0 0 0;
}

#links :nth-child(2) {
    float: right;
}

#not-found {
    text-align: center;
}

#not-found a {
    font-family: "Old Standard TT", serif;
    font-size: 200px;
    text-decoration: none;
    display: inline-block;
    padding-top: 225px;
}

@media (max-width: 750px) {
    body {
        padding-left: 20px;
        padding-right: 20px;
    }

    #nav h1 a {
        font-size: 28px;
    }

    #nav li {
        font-size: 14px;
        padding: 0 15px;
    }

    #content {
        margin-top: 0;
        padding-top: 20px;
        font-size: 14px;
    }

    .posts_listing li div {
        font-size: 12px;
    }
}

@media (max-width: 400px) {
    body {
        padding-left: 20px;
        padding-right: 20px;
    }

    #nav h1 a {
        font-size: 22px;
    }

    #nav li {
        font-size: 16px;
        padding: 0 10px;
    }

    #content {
        margin-top: 0;
        padding-top: 20px;
        font-size: 15px;
    }

    #content h1 {
        font-size: 25px;
    }

    #content h2 {
        font-size: 22px;
    }

    #content h3 {
        font-size: 19px;
    }

    #content h4 {
        font-size: 17px;
    }

    .posts_listing li div {
        font-size: 12px;
    }
}

@media (prefers-color-scheme: dark) {
    *,
    #nav h1 a {
        color: #FDFDFD;
    }

    body {
        background: #121212;
    }

    pre,
    code {
        background-color: #262626;
    }

    #sub-header,
    time {
        color: #BABABA;
    }

    hr {
        background: #EBEBEB;
    }
}

/****** Syntax highlighting ******/

/* light mode syntax highlighting (github) */

@media (prefers-color-scheme: light) {
    /* Background */ .chroma { background-color: #f7f7f7 }
    /* Error */ .chroma .err { color: #a61717; background-color: #e3d2d2 }
    /* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
    /* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
    /* LineHighlight */ .chroma .hl { display: block; width: 100%;background-color: #ffffcc }
    /* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
    /* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
    /* Keyword */ .chroma .k { color: #000000; font-weight: bold }
    /* KeywordConstant */ .chroma .kc { color: #000000; font-weight: bold }
    /* KeywordDeclaration */ .chroma .kd { color: #000000; font-weight: bold }
    /* KeywordNamespace */ .chroma .kn { color: #000000; font-weight: bold }
    /* KeywordPseudo */ .chroma .kp { color: #000000; font-weight: bold }
    /* KeywordReserved */ .chroma .kr { color: #000000; font-weight: bold }
    /* KeywordType */ .chroma .kt { color: #445588; font-weight: bold }
    /* NameAttribute */ .chroma .na { color: #008080 }
    /* NameBuiltin */ .chroma .nb { color: #0086b3 }
    /* NameBuiltinPseudo */ .chroma .bp { color: #999999 }
    /* NameClass */ .chroma .nc { color: #445588; font-weight: bold }
    /* NameConstant */ .chroma .no { color: #008080 }
    /* NameDecorator */ .chroma .nd { color: #3c5d5d; font-weight: bold }
    /* NameEntity */ .chroma .ni { color: #800080 }
    /* NameException */ .chroma .ne { color: #990000; font-weight: bold }
    /* NameFunction */ .chroma .nf { color: #990000; font-weight: bold }
    /* NameLabel */ .chroma .nl { color: #990000; font-weight: bold }
    /* NameNamespace */ .chroma .nn { color: #555555 }
    /* NameTag */ .chroma .nt { color: #000080 }
    /* NameVariable */ .chroma .nv { color: #008080 }
    /* NameVariableClass */ .chroma .vc { color: #008080 }
    /* NameVariableGlobal */ .chroma .vg { color: #008080 }
    /* NameVariableInstance */ .chroma .vi { color: #008080 }
    /* LiteralString */ .chroma .s { color: #dd1144 }
    /* LiteralStringAffix */ .chroma .sa { color: #dd1144 }
    /* LiteralStringBacktick */ .chroma .sb { color: #dd1144 }
    /* LiteralStringChar */ .chroma .sc { color: #dd1144 }
    /* LiteralStringDelimiter */ .chroma .dl { color: #dd1144 }
    /* LiteralStringDoc */ .chroma .sd { color: #dd1144 }
    /* LiteralStringDouble */ .chroma .s2 { color: #dd1144 }
    /* LiteralStringEscape */ .chroma .se { color: #dd1144 }
    /* LiteralStringHeredoc */ .chroma .sh { color: #dd1144 }
    /* LiteralStringInterpol */ .chroma .si { color: #dd1144 }
    /* LiteralStringOther */ .chroma .sx { color: #dd1144 }
    /* LiteralStringRegex */ .chroma .sr { color: #009926 }
    /* LiteralStringSingle */ .chroma .s1 { color: #dd1144 }
    /* LiteralStringSymbol */ .chroma .ss { color: #990073 }
    /* LiteralNumber */ .chroma .m { color: #009999 }
    /* LiteralNumberBin */ .chroma .mb { color: #009999 }
    /* LiteralNumberFloat */ .chroma .mf { color: #009999 }
    /* LiteralNumberHex */ .chroma .mh { color: #009999 }
    /* LiteralNumberInteger */ .chroma .mi { color: #009999 }
    /* LiteralNumberIntegerLong */ .chroma .il { color: #009999 }
    /* LiteralNumberOct */ .chroma .mo { color: #009999 }
    /* Operator */ .chroma .o { color: #000000; font-weight: bold }
    /* OperatorWord */ .chroma .ow { color: #000000; font-weight: bold }
    /* Comment */ .chroma .c { color: #999988; font-style: italic }
    /* CommentHashbang */ .chroma .ch { color: #999988; font-style: italic }
    /* CommentMultiline */ .chroma .cm { color: #999988; font-style: italic }
    /* CommentSingle */ .chroma .c1 { color: #999988; font-style: italic }
    /* CommentSpecial */ .chroma .cs { color: #999999; font-weight: bold; font-style: italic }
    /* CommentPreproc */ .chroma .cp { color: #999999; font-weight: bold; font-style: italic }
    /* CommentPreprocFile */ .chroma .cpf { color: #999999; font-weight: bold; font-style: italic }
    /* GenericDeleted */ .chroma .gd { color: #000000; background-color: #ffdddd }
    /* GenericEmph */ .chroma .ge { color: #000000; font-style: italic }
    /* GenericError */ .chroma .gr { color: #aa0000 }
    /* GenericHeading */ .chroma .gh { color: #999999 }
    /* GenericInserted */ .chroma .gi { color: #000000; background-color: #ddffdd }
    /* GenericOutput */ .chroma .go { color: #888888 }
    /* GenericPrompt */ .chroma .gp { color: #555555 }
    /* GenericStrong */ .chroma .gs { font-weight: bold }
    /* GenericSubheading */ .chroma .gu { color: #aaaaaa }
    /* GenericTraceback */ .chroma .gt { color: #aa0000 }
    /* GenericUnderline */ .chroma .gl { text-decoration: underline }
    /* TextWhitespace */ .chroma .w { color: #bbbbbb }
}

@media (prefers-color-scheme: dark) {
    /* Background */ .chroma { color: #d0d0d0; background-color: #202020 }
    /* Other */ .chroma .x {  }
    /* Error */ .chroma .err { color: #a61717; background-color: #e3d2d2 }
    /* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
    /* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
    /* LineHighlight */ .chroma .hl { display: block; width: 100%;background-color: #ffffcc }
    /* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #686868 }
    /* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #686868 }
    /* Keyword */ .chroma .k { color: #6ab825; font-weight: bold }
    /* KeywordConstant */ .chroma .kc { color: #6ab825; font-weight: bold }
    /* KeywordDeclaration */ .chroma .kd { color: #6ab825; font-weight: bold }
    /* KeywordNamespace */ .chroma .kn { color: #6ab825; font-weight: bold }
    /* KeywordPseudo */ .chroma .kp { color: #6ab825 }
    /* KeywordReserved */ .chroma .kr { color: #6ab825; font-weight: bold }
    /* KeywordType */ .chroma .kt { color: #6ab825; font-weight: bold }
    /* Name */ .chroma .n {  }
    /* NameAttribute */ .chroma .na { color: #bbbbbb }
    /* NameBuiltin */ .chroma .nb { color: #24909d }
    /* NameBuiltinPseudo */ .chroma .bp {  }
    /* NameClass */ .chroma .nc { color: #447fcf; text-decoration: underline }
    /* NameConstant */ .chroma .no { color: #40ffff }
    /* NameDecorator */ .chroma .nd { color: #ffa500 }
    /* NameEntity */ .chroma .ni {  }
    /* NameException */ .chroma .ne { color: #bbbbbb }
    /* NameFunction */ .chroma .nf { color: #447fcf }
    /* NameFunctionMagic */ .chroma .fm {  }
    /* NameLabel */ .chroma .nl {  }
    /* NameNamespace */ .chroma .nn { color: #447fcf; text-decoration: underline }
    /* NameOther */ .chroma .nx {  }
    /* NameProperty */ .chroma .py {  }
    /* NameTag */ .chroma .nt { color: #6ab825; font-weight: bold }
    /* NameVariable */ .chroma .nv { color: #40ffff }
    /* NameVariableClass */ .chroma .vc {  }
    /* NameVariableGlobal */ .chroma .vg {  }
    /* NameVariableInstance */ .chroma .vi {  }
    /* NameVariableMagic */ .chroma .vm {  }
    /* Literal */ .chroma .l {  }
    /* LiteralDate */ .chroma .ld {  }
    /* LiteralString */ .chroma .s { color: #ed9d13 }
    /* LiteralStringAffix */ .chroma .sa { color: #ed9d13 }
    /* LiteralStringBacktick */ .chroma .sb { color: #ed9d13 }
    /* LiteralStringChar */ .chroma .sc { color: #ed9d13 }
    /* LiteralStringDelimiter */ .chroma .dl { color: #ed9d13 }
    /* LiteralStringDoc */ .chroma .sd { color: #ed9d13 }
    /* LiteralStringDouble */ .chroma .s2 { color: #ed9d13 }
    /* LiteralStringEscape */ .chroma .se { color: #ed9d13 }
    /* LiteralStringHeredoc */ .chroma .sh { color: #ed9d13 }
    /* LiteralStringInterpol */ .chroma .si { color: #ed9d13 }
    /* LiteralStringOther */ .chroma .sx { color: #ffa500 }
    /* LiteralStringRegex */ .chroma .sr { color: #ed9d13 }
    /* LiteralStringSingle */ .chroma .s1 { color: #ed9d13 }
    /* LiteralStringSymbol */ .chroma .ss { color: #ed9d13 }
    /* LiteralNumber */ .chroma .m { color: #3677a9 }
    /* LiteralNumberBin */ .chroma .mb { color: #3677a9 }
    /* LiteralNumberFloat */ .chroma .mf { color: #3677a9 }
    /* LiteralNumberHex */ .chroma .mh { color: #3677a9 }
    /* LiteralNumberInteger */ .chroma .mi { color: #3677a9 }
    /* LiteralNumberIntegerLong */ .chroma .il { color: #3677a9 }
    /* LiteralNumberOct */ .chroma .mo { color: #3677a9 }
    /* Operator */ .chroma .o {  }
    /* OperatorWord */ .chroma .ow { color: #6ab825; font-weight: bold }
    /* Punctuation */ .chroma .p {  }
    /* Comment */ .chroma .c { color: #999999; font-style: italic }
    /* CommentHashbang */ .chroma .ch { color: #999999; font-style: italic }
    /* CommentMultiline */ .chroma .cm { color: #999999; font-style: italic }
    /* CommentSingle */ .chroma .c1 { color: #999999; font-style: italic }
    /* CommentSpecial */ .chroma .cs { color: #e50808; background-color: #520000; font-weight: bold }
    /* CommentPreproc */ .chroma .cp { color: #cd2828; font-weight: bold }
    /* CommentPreprocFile */ .chroma .cpf { color: #cd2828; font-weight: bold }
    /* Generic */ .chroma .g {  }
    /* GenericDeleted */ .chroma .gd { color: #d22323 }
    /* GenericEmph */ .chroma .ge { font-style: italic }
    /* GenericError */ .chroma .gr { color: #d22323 }
    /* GenericHeading */ .chroma .gh { color: #ffffff; font-weight: bold }
    /* GenericInserted */ .chroma .gi { color: #589819 }
    /* GenericOutput */ .chroma .go { color: #cccccc }
    /* GenericPrompt */ .chroma .gp { color: #aaaaaa }
    /* GenericStrong */ .chroma .gs { font-weight: bold }
    /* GenericSubheading */ .chroma .gu { color: #ffffff; text-decoration: underline }
    /* GenericTraceback */ .chroma .gt { color: #d22323 }
    /* GenericUnderline */ .chroma .gl { text-decoration: underline }
    /* TextWhitespace */ .chroma .w { color: #666666 }
}
